<div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <ul class="nav nav-pills">
                <li class="nav-item"
                (click)="selectedSkill = skill.skillName"
                *ngFor="let skill of tabData"
                >
                    <a href="javascript:;" class="nav-link"
                    [ngClass]="{
                        'active' : selectedSkill === skill.skillName
                    }"
                    >{{skill.tabTitle}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 offset-md-3 mt-4">
            <ng-container 
            *ngFor="let skill of tabData"
            >
            <div class="card"
            *ngIf="selectedSkill === skill.skillName"
            >
                <div class="card-body" [innerHTML]="skill.content">

                </div>
            </div>
            </ng-container>
        </div>
    </div>
