<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let skill of tabData"
            (click)="selectedSkill = skill.skillName"
            >
                <a href="javascript:;" class="nav-link"
                [ngClass]="{
                    'active' : selectedSkill === skill.skillName
                }"
                > {{skill.tabTitle}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 offset-md-3 mt-4">
        <ng-container [ngSwitch]="selectedSkill"
        *ngFor="let skill of tabData"
        >
            <div class="card" *ngSwitchCase="skill.skillName">
                <div class="card-body" [innerHTML]="skill.content">
                    
                </div>
            </div>
        </ng-container>
    </div>
</div>
